# Зависимости
node_modules/
package-lock.json
yarn.lock

# Временные файлы
*.tmp
*.temp
.DS_Store
Thumbs.db

# Редакторы
.vscode/
.idea/
*.swp
*.swo
*~

# Логи
*.log
npm-debug.log*

# Сборка (если будет использоваться)
dist/
build/
.cache/

# Окружение
.env
.env.local

# Большие медиа файлы (опционально, если не нужны в репозитории)
# assets/videos/*
# assets/documents/*

assets/c__Users_mrdud_AppData_Roaming_Cursor_User_workspaceStorage_f35d99dc85ff84b101ee50ccd1f85251_images_image-86c30696-8cea-463d-9011-6d2e058667c2.png
