 .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 36px;
  height: 36px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  transition-duration: 0.5s;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  border-radius: 6px;
}

.barMiddle {
  transition-duration: 0.8s;
}

.barTop,
.barBottom {
  width: 80%;
}

.checkbox:checked + .toggle .bar {
  position: absolute;
  transition-duration: 0.5s;
}

.checkbox:checked + .toggle .barMiddle {
  transform: scaleX(0);
  transition-duration: 0.5s;
}

.checkbox:checked + .toggle .barTop {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: 0.5s;
}

.checkbox:checked + .toggle .barBottom {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
}

.checkbox:checked + .toggle {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}

